<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/config_ingredients.css">
    <title>Konfiguracja - składniki</title>
</head>
<body>
    <div class="groups">
        <div class="add-group">
            <input name="group" id="group" type="text" placeholder="Dodaj nową grupę">
            <button id="add-btn">Add</button>
        </div>
        <div class="info-group">
            <p>#</p>
        </div>
        <div class="show-group">
            <ul id="group-list">
            </ul>
        </div>
    </div>
    <script src="../static/js/config_ingredients.js"></script>
</body>
</html>