$orange: #FF6600;
$light-orange: #FF9230;
$gray: #4D4A4C;
$light-gray: #C9C5C2;

.add-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
        width: 100px;
        height: 40px;
    }
    input {
    all: unset;
    width: 50%;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 24px;
    padding-left: 10px;
    }
}

.info-group {
    text-align: center;
    margin: 10px 0 10px 0;
    color: $gray;
}

.show-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        list-style-type: none;
    }
    li {
        margin-bottom: 10px;
    }
    .li {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        svg {
        height: 20px;
        fill: $light-orange;
        margin-left: 20px;
        } 
    p {
        margin-right: 15px;
    }
    }
    
}





