@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
}

$orange: #FF6600;
$light-orange: #FF9230;
$gray: #4D4A4C;
$light-gray: #C9C5C2;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-gray;
    font-family: 'OpenSans', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}